<div class="row">
  <md-sidenav class="md-sidenav-left" md-is-locked-open="$media('md')">
    <md-content class="md-padding">
      <p>
        This sidenav is locked open on your device. To go back to the default behavior,
        narrow your display.
      </p>
    </md-content>
  </md-sidenav>
  <md-content class="md-padding">

    <div layout="row">
      <div flex="25">
        <md-card>
          <h2>Blah</h2>

          <p>Blah</p>
        </md-card>
      </div>
      <div flex="25">
        <md-card>
          <h2>Blah</h2>

          <p>Blah</p>
        </md-card>
      </div>
      <div flex="25">
        <md-card>
          <h2>Blah</h2>

          <p>Blah</p>
        </md-card>
      </div>
      <div flex="25">
        <md-card>
          <h2>Blah</h2>

          <p>Blah</p>
        </md-card>
      </div>

    </div>

    <div layout="row">
      <div flex="25">
        <md-card>
          <h2>Blah</h2>

          <p>Blah</p>
        </md-card>
      </div>
      <div flex="25">
        <md-card>
          <h2>Blah</h2>

          <p>Blah</p>
        </md-card>
      </div>
      <div flex="25">
        <md-card>
          <h2>Blah</h2>

          <p>Blah</p>
        </md-card>
      </div>
      <div flex="25">
        <md-card>
          <h2>Blah</h2>

          <p>Blah</p>
        </md-card>
      </div>

    </div>
  </md-content>
</div>



